$primary-color: #01c8b3;
$secondary-color: #ff5400;
$secondary-color-hover: #ff7f33;
$color-text: #49546b;

$text-color: #49546b;
$dash-background: #2b2f48;
$dash-title-color: #424869;

$hover-color: #4261e1;

$radius: 10px;
