@import 'variables';
@import 'media';
/* css vars */
:root {
  --primary-color: #01c8b3;
  --secondary-color: #ff5400;
  --color-text: #49546b;
  --dash-background: #2b2f48;
  --dash-title-color: #424869;
  --form-label-color: #49546b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.pointer {
  cursor: pointer;
}
