.PhoneCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.notification {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  width: 80%;
  height: 150px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 16px;
}

.notification__header {
  display: flex;

  align-items: center;
  margin-bottom: 8px;
}

.notification__logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.notification__title {
  font-size: 16px;
  font-weight: bold;
  margin-right: 8px;
}

.notification__time {
  font-size: 12px;
  color: #666;
}

.notification__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification__image {
  width: 80px;
  height: 80px;
  margin-right: 16px;
  border-radius: 8px;
}

.notification__content {
  display: flex;
  flex-direction: column;
}

.notification__content-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.notification__content-text {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}
