.TableDefault {
  margin: 10px 0;
}
.TableDefault__header {
  display: grid;
  /* grid-template: auto / repeat(4, 1fr); */
  border-bottom: 1px solid #afafaf;
  /* padding: 15px 10px 10px; */
  color: var(--secondary-color);
  gap: 10px;
}
.TableDefault__header .TableDefault__head {
  margin: 0;
  font-weight: 600;
  color: var(--secondary-color);
  font-size: 1.2rem;
}
.TableDefault__cell {
  cursor: pointer;
  display: grid;
  /* padding: 15px 10px; */
  color: #5f5f5f;
  /* gap: 10px; */
  font-weight: 500;
  font-size: 0.9rem;
  /* margin: 5px 0; */
  align-items: center;
  border-radius: 10px;
}
.TableDefault__cell > div {
  padding: 15px 10px;
  /* text-align: center; */
}
.TableDefault__cell_borderBottom {
  border-bottom: 0.8px solid var(--green);
  border-radius: 0px;
}
.TableDefault__cell:hover {
  background: #4595861c;
}
.TableDefault__cell-activate {
  background: #4595861c;
  color: var(--green);
  font-weight: 700;
}
.TableDefault__cell div {
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}
.TableDefault__cell img {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  border: 1px solid var(--white);
}
.TableDefault__cell-activate img {
  border: 1px solid var(--green);
}
.TableDefault__cell a {
  color: var(--orange2);
}
.TableDefault__textColor h4 {
  font-weight: 500;
  width: fit-content;
  padding: 5px 8px;
  border-radius: 50px;
  color: var(--white);
}
.TableDefault__column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  gap: 8px;
}
.TableDefault__column .TableDefault__head {
  font-size: 1.2rem;
}
.TableDefault__column div {
  /* border: 1px solid red; */
  text-align: end;
  font-size: 0.9rem;
}
@media (max-width: 420px) {
  .TableDefault__column .TableDefault__head {
    font-size: 1rem;
  }
  .TableDefault__cell {
    padding: 0;
  }
  .TableDefault__cell > div {
    padding: 0.5rem 0 ;
  }
}
