.EditStore__appbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20px;
  background-color: var(--dash-background);
}
.EditStore__form--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1.5rem;
}
.CreateStore__form--container {
  width: 500px;
  margin: 0 auto;
}

@media (max-width: 420px) {
  .CreateStore__form--container {
    padding: 0 1rem;
    width: 100%;
    margin: 0 auto;
  }
  .EditStore__container {
    width: 100%;
    margin: 0 auto;
  }
  .EditStore__form--container {
    grid-template-columns: 1fr;
  }
}
